.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #f4f4f4;
  box-shadow: inset -1px 0 0 0 #cdcdcd;
  transition: transform 0.2s ease-out;
  transform: translateX(-100%);
}

.sidebar.mini {
  width: 60px;
  transform: translateX(0);
}

.sidebar.open {
  width: 250px;
  transform: translateX(0);
}
